.vscode/settings.json
CS4416/bin/Debug/net6.0/CS4416.deps.json
.gitignore
CS4416/bin/Debug/net6.0/CS4416.dll
CS4416/bin/Debug/net6.0/CS4416.exe
CS4416/bin/Debug/net6.0/CS4416.pdb
CS4416/bin/Debug/net6.0/CS4416.runtimeconfig.json
CS4416/obj/CS4416.csproj.nuget.dgspec.json
CS4416/obj/CS4416.csproj.nuget.g.props
CS4416/obj/project.assets.json
CS4416/obj/project.nuget.cache
CS4416/obj/Debug/net6.0/apphost.exe
CS4416/obj/Debug/net6.0/CS4416.assets.cache
CS4416/obj/Debug/net6.0/CS4416.csproj.AssemblyReference.cache
CS4416/obj/Debug/net6.0/CS4416.csproj.CoreCompileInputs.cache
CS4416/obj/Debug/net6.0/CS4416.csproj.FileListAbsolute.txt
CS4416/obj/Debug/net6.0/CS4416.dll
CS4416/obj/Debug/net6.0/CS4416.GeneratedMSBuildEditorConfig.editorconfig
CS4416/obj/Debug/net6.0/CS4416.genruntimeconfig.cache
CS4416/obj/Debug/net6.0/CS4416.pdb
CS4416/obj/Debug/net6.0/ref/CS4416.dll
CS4416/obj/Debug/net6.0/refint/CS4416.dll
.gitignore
CS4416/obj/CS4416.csproj.nuget.dgspec.json
CS4416/obj/CS4416.csproj.nuget.g.props
CS4416/obj/project.assets.json
CS4416/obj/project.nuget.cache
CS4416/obj/Debug/net6.0/CS4416.assets.cache
CS4416/obj/Debug/net6.0/CS4416.GeneratedMSBuildEditorConfig.editorconfig
CS4416/obj/Debug/net6.0/CS4416.assets.cache
CS4416/obj/Debug/net6.0/CS4416.GeneratedMSBuildEditorConfig.editorconfig
CS4416/obj/project.nuget.cache
CS4416/obj/project.assets.json
CS4416/obj/CS4416.csproj.nuget.g.props
CS4416/obj/CS4416.csproj.nuget.dgspec.json
